/* basic settings */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 16px;
  font-family: monospace , Arial, Helvetica, sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 130px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container_header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #332e3f;
}

.header__left, .header__right {
  width: 50%;
}

.header__left {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.header__title {
  color: white;
  font-size: 42px;
  font-weight: bold;
}

.header__login {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.container_main {
  padding-top: 50px;
  border-radius: 5px;
  background-color: #332e3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.main__top {
  width: 100%;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.form__block {
  margin-left: 20px;
}

.form__input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: #332e3f;

}

.form__input:focus {
  box-shadow: 0 0 10px 5px white;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

::-webkit-input-placeholder { /* Edge */
  color: #332e3f;
  opacity: 0.7;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #332e3f;
  opacity: 0.7;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}

.form__select {
  height: 38px;
  outline: none;
  border: #332e3f;
  color: dodgerblue;
  font-weight: bold;
}

.form__btn {
  margin-left: 20px;
}

.form__btn-storage {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px;
  cursor: pointer;
  background-color: lightseagreen;
  border-radius: 5px;
  color: white;
  min-width: 100px;
  text-align: center;
  border: lightseagreen;
  font-weight: bold;
  outline: none;
  font-size: 18px;
}

.btn-storage {
  background-color: violet;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: #332e3f;
  min-width: 100px;
  text-align: center;
  border: lightseagreen;
  font-weight: bold;
  outline: none;
  margin-left: 20px;
  margin-bottom: 15px;
}

.btn:hover, .btn-storage:hover  {
  background-color: crimson;
  border: crimson;
}

.main__middle {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.incomes, .expenses {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  margin: 30px;
  padding: 20px;
  min-height: 100%;
  border-radius: 5px;
}

.expenses-title, .incomes-title {
  margin-bottom: 20px;
  color: white;
  border-bottom: 2px solid white;
  font-size: 28px;
}

.incomes-list, .expenses-list {
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  margin-bottom: 5px;
  list-style-type: decimal;
}

.item__text {
  width: 30%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__num {
  font-weight: bold;
  font-size: 18px;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__date {
  font-size: 13px;
  width: 30%;
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  margin-left: 5px;
  width: 15%;
  padding: 5px;
  cursor: pointer;
  background-color: crimson;
  border-radius: 5px;
  color: white;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: crimson;
  font-weight: bold;
  outline: none;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: lightseagreen;
  border: lightseagreen;
}

.balance {
  padding-bottom: 20px;
}

.balance__amount {
  color: white;
  font-size: 25px;
}

.amount {
  font-size: 30px;
  font-weight: bold;
}

.footer {
  padding: 0 30px 0 30px;
  height: 100px;
  width: 100%;
  margin-top: -130px;
}

.container_footer {
  width: 100%;
  border-radius: 5px;
  background-color: #332e3f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}





